* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 1px;
}
body {
    font-family: 'Arial';
    background-color: #8dc63f;
    margin:0;
}
.wrapper {
    background-color: #fff;
    margin: 0 auto;
    max-width: 960rem;
    padding: 0 15rem;
}
.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    padding: 25rem 0; 
}
.logo {
    column-gap: 34rem;
    text-align: center;
}
.logo p,
.contacts a {
    text-decoration: none;
    font-size: 22rem;
    color: #39930d;
}
.contacts a:hover{
    color: #343434;
}
.logo p {
    margin: 0;
    padding-left: 3rem; 
}
.logo b {
    display: block;
    font-size: 44rem;
    color: #39930d;
}
.img{
    width: 100%;
}
.logo i {
    font-size: 14rem;
    color: #5a5a5a;
}
.logo i,
.contacts i {
    font-size: 14rem;
    color: #5a5a5a;
}
.contacts p {
    text-align: center;
}
.main {
    padding: 25rem 0 29rem;
    flex-wrap: wrap-reverse;
}
.imge {
    width: 100%;
    min-height: 200rem;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}
.main-text {
    max-width: 594rem;
}
.main-text h1,
.main-text p {
    margin-bottom: 17rem;
}
.main-text h1 {
    font-size: 24rem;
    color: #39930d;
}
.main-text p {
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}
aside .menu{
    width: 100%;
}
.menu p {
    width: 300rem;
    padding: 11rem 20rem;
    background-color: #39930d;
    font-size: 18rem;
    color: #fff;
}
.menu ul {
    padding: 20rem;
    list-style: none;
}
.menu a {
    font-size: 14rem;
    line-height: 30rem;
    text-transform: uppercase;
    color: #39930d;
}
.menu a:hover{
    color: #343434;
}
.footer {
    font-size: 14rem;
    line-height: 7rem;
    background-color: #39930d;
    color:#fff;
    margin: 0 -15rem;
    padding: 13rem;
}
@media screen and (min-width: 520px) {
    .flex-between {
        justify-content: space-between;
    }
    .main {
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 320px) {
    .menu {
        width: 100%;
    }
}
@media screen and (min-width: 621px) {
    .contacts p {
        text-align: right;
    }
    .logo {
        text-align: left;
    }
}
@media screen and (min-width: 1440px) {
    html {
      font-size: 1.2px;
    }
}
@media screen and (min-width: 2560px) {
    html {
      font-size: 2px;
    }
}
