*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 0.8px;
}
body{
    background-color: #8dc63f;
    font-family: Arial, "Helvetica-Neue", Helvetica, sans-serif;    
}
h1{
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}
.wrapper{
   margin: 0 auto;
   padding: 0 15px;
   max-width: 960px; 
   background-color: #fff;
}

.flex-between {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header{
    padding: 25px 0;
}
.logo,
.contacts{
    text-align: center;
}
.logo{
    column-gap: 34px;
}
.logo p{
    font-size: 22px;
    color: #39930d;
}
.logo b{
    display: block;
    font-size: 44px;
    color: #39930d;
}
.logo i{
    font-size: 14px;
    color: #5a5a5a;
}
.contacts{
    text-align: center;
}
.contacts a{
    text-decoration: none;
    font-size: 22px;
    color: #39930d;
    transition: all 1s ease;
    margin-bottom: 11px;
}
.imge{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}
.contacts p:hover a{
    color: #343434;
}
.contacts i{
    font-size: 14px;
     color: #5a5a5a;
    text-align: right;
}
.main{
    padding: 25px 0 29px;
    flex-wrap: wrap-reverse;
}
.main-text{
    max-width: 594px;
}
.main-text p{
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}
.main-text h1,
.main-text p{
    margin-bottom: 17px;
}
.menu p{
    width: 300px;
    padding: 11px 20px;
    background-color: #39930d;
    color: #fff;
    font-size: 18px;
}
.menu ul{
    padding: 20px;
    list-style: none;
}
.menu li:hover a{
    color: #343434;
}
.menu a{
    transition: all 1s ease-out;
}
.menu a{
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    color: #39930d;
    text-transform: uppercase;
}
.footer{
    background-color: #39930d;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    margin: 0 -15px;
}
@media screen and (min-width: 768px) {
    .flex-between {
        justify-content: space-between;
    }
    .main{
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 621px) {
    .logo{
        text-align: left;
    }
    .contacts{
        text-align: right;
    }
}
